{% extends "app/base_app.html" %}

{% block content %}
<div style="max-width: 800px; margin: 0 auto;">
    <h3 style="color: #31405b; font-size: 28px; margin-bottom: 20px;">Parcelas</h3>
    <ul style="list-style-type: none; padding: 0;">
        {% for parcelas in user.parcelas.all %}
        <li style="margin-bottom: 10px;"><a href="{% url 'parcelas_list' parcelas.id %}" style="color: #007bff; text-decoration: none; transition: color 0.3s; font-size: 20px;">{{ parcelas.nome }}</a></li>
        {% endfor %}
    </ul>

    <h3> Adicionar Parcela </h3>

    <form method="post" action="{% url 'add_parcela' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="produtoInput">Parcela</label>
                    <input type="text" class="form-control" id="produtoInput" placeholder="Produto" name="parcela_nome_title">
                </div>
                <p></p>
                <p></p>

                <div class="form-group">
                    <label for="Area">Area</label>
                    <input type="text" class="form-control" id="Area" placeholder="Area" name="area_title">
                    <small class="form-text text-muted">Adicione a dose sob a forma de l ou g /ha.</small>
                </div>
                <p></p>
                <p></p>
                <button type="submit" class="btn btn-primary" style="background-color: #31405b;">Submit</button>
            </form>
</div>
{% endblock %}